page-input {
.bg{
  background-color: whitesmoke;
}
ion-card{
  width: 351px;
}
.button{
  margin: 15px;
}
.submit{
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px;
  cursor: pointer;
  border-radius: 16px;
}
}
