page-forgot-pwd {
  .submit-btn{
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    margin-top: 20px;
  }
  .auth-btn{
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  [text-color="mycolor"] {
    color: red;
  }
}
