page-tasks {
  .toolbar-background {
    background-color: #7da0d8;
  }


  .toolbar-title.toolbar-title-md,
  .toolbar-title.toolbar-title-ios,
  .toolbar-title.toolbar-title-wp {
    color: #6d6e70;
  }

  .scroll-content {
    background-color: whitesmoke;
  }

}



